In [24]:
import os
import sys
import datetime
import numpy as np
import pandas as pd
import seaborn as sns
import scipy.stats as stats
import matplotlib.pyplot as plt

pd.options.display.max_columns = 500

In [2]:
%%bigquery neighborhoods
SELECT * FROM `test-vertex-ai-386413.HousePricePrediction.LegendaNeighborhoods`

Query is running:   0%|          |

Downloading:   0%|          |

In [3]:
%%bigquery prices
WITH subq1 AS
  (SELECT
    CASE
      WHEN BOROUGH = 1 THEN "MANHATTAN"
      WHEN BOROUGH = 2 THEN "BRONX"
      WHEN BOROUGH = 3 THEN "BROOKLYN"
      WHEN BOROUGH = 4 THEN "QUEENS"
      WHEN BOROUGH = 5 THEN "STATEN ISLAND"
      END AS BOROUGH,
    CASE
      WHEN NEIGHBORHOOD = 'FLATBUSH-CENTRAL' THEN 'FLATBUSH'
      WHEN NEIGHBORHOOD = 'FLATBUSH-EAST' THEN 'FLATBUSH'
      WHEN NEIGHBORHOOD = 'FLATBUSH-LEFFERTS GARDEN' THEN 'FLATBUSH'
      WHEN NEIGHBORHOOD = 'FLATBUSH-NORTH' THEN 'FLATBUSH'
      WHEN NEIGHBORHOOD = 'DONGAN HILLS-COLONY' THEN 'DONGAN HILLS'
      WHEN NEIGHBORHOOD = 'DONGAN HILLS-OLD TOWN' THEN 'DONGAN HILLS'
      WHEN NEIGHBORHOOD = 'FLUSHING-NORTH' THEN 'FLUSHING'
      WHEN NEIGHBORHOOD = 'FLUSHING-SOUTH' THEN 'FLUSHING'
      WHEN NEIGHBORHOOD = 'GREENWICH VILLAGE-CENTRAL' THEN 'GREENWICH VILLAGE'
      WHEN NEIGHBORHOOD = 'GREENWICH VILLAGE-WEST' THEN 'GREENWICH VILLAGE'
      WHEN NEIGHBORHOOD = 'HARLEM-CENTRAL' THEN 'HARLEM'
      WHEN NEIGHBORHOOD = 'HARLEM-EAST' THEN 'HARLEM'
      WHEN NEIGHBORHOOD = 'HARLEM-UPPER' THEN 'HARLEM'
      WHEN NEIGHBORHOOD = 'HARLEM-WEST' THEN 'HARLEM'
      WHEN NEIGHBORHOOD = 'KINGSBRIDGE HTS/UNIV HTS' THEN 'UNIVERSITY HEIGHTS'
      WHEN NEIGHBORHOOD = 'KINGSBRIDGE/JEROME PARK' THEN 'KINGSBRIDGE'
      WHEN NEIGHBORHOOD = 'MIDTOWN CBD' THEN 'MIDTOWN'
      WHEN NEIGHBORHOOD = 'MIDTOWN EAST' THEN 'MIDTOWN'
      WHEN NEIGHBORHOOD = 'MIDTOWN WEST' THEN 'MIDTOWN'
      WHEN NEIGHBORHOOD = 'NEW DORP-BEACH' THEN 'NEW DORP'
      WHEN NEIGHBORHOOD = 'NEW DORP-HEIGHTS' THEN 'NEW DORP'
      WHEN NEIGHBORHOOD = 'UPPER EAST SIDE (59-79)' THEN 'UPPER EAST SIDE'
      WHEN NEIGHBORHOOD = 'UPPER EAST SIDE (79-96)' THEN 'UPPER EAST SIDE'
      WHEN NEIGHBORHOOD = 'UPPER EAST SIDE (96-110)' THEN 'UPPER EAST SIDE'
      WHEN NEIGHBORHOOD = 'UPPER WEST SIDE (59-79)' THEN 'UPPER WEST SIDE'
      WHEN NEIGHBORHOOD = 'UPPER WEST SIDE (79-96)' THEN 'UPPER WEST SIDE'
      WHEN NEIGHBORHOOD = 'UPPER WEST SIDE (96-110)' THEN 'UPPER WEST SIDE'
      WHEN NEIGHBORHOOD = 'UPPER WEST SIDE (96-116)' THEN 'UPPER WEST SIDE'
      WHEN NEIGHBORHOOD = 'WASHINGTON HEIGHTS LOWER' THEN 'WASHINGTON HEIGHTS'
      WHEN NEIGHBORHOOD = 'WASHINGTON HEIGHTS UPPER' THEN 'WASHINGTON HEIGHTS'
      WHEN NEIGHBORHOOD = 'WILLIAMSBURG-CENTRAL' THEN 'WILLIAMSBURG'
      WHEN NEIGHBORHOOD = 'WILLIAMSBURG-EAST' THEN 'WILLIAMSBURG'
      WHEN NEIGHBORHOOD = 'WILLIAMSBURG-NORTH' THEN 'WILLIAMSBURG'
      WHEN NEIGHBORHOOD = 'WILLIAMSBURG-SOUTH' THEN 'WILLIAMSBURG'
      WHEN NEIGHBORHOOD = 'SOUTH JAMAICA' THEN 'JAMAICA'
      WHEN NEIGHBORHOOD = 'JAMAICA BAY' THEN 'JAMAICA'
      WHEN NEIGHBORHOOD = 'SO. JAMAICA-BAISLEY PARK' THEN 'JAMAICA'
      WHEN NEIGHBORHOOD = 'GREAT KILLS' THEN 'GREAT KILLS-BAY TERRACE'
      WHEN NEIGHBORHOOD = 'PARK SLOPE SOUTH' THEN 'PARK SLOPE'
      WHEN NEIGHBORHOOD = 'CLINTON' THEN 'CLINTON HILL'
      ELSE NEIGHBORHOOD
      END AS NEIGHBORHOOD,
    TRIM(BUILDING_CLASS_CATEGORY) AS BUILDING_CLASS_CATEGORY,
    TAX_CLASS_AT_PRESENT,
    BLOCK,
    LOT,
    ADDRESS,
    APARTMENT_NUMBER,
    CAST(ZIP_CODE AS STRING) AS ZIP_CODE,
    RESIDENTIAL_UNITS,
    COMMERCIAL_UNITS,
    TOTAL_UNITS,
    CASE
      WHEN LAND_SQUARE_FEET = ' -  ' THEN NULL
      ELSE LAND_SQUARE_FEET
      END AS LAND_SQUARE_FEET,
    CASE
      WHEN GROSS_SQUARE_FEET = ' -  ' THEN NULL
      ELSE GROSS_SQUARE_FEET
      END AS GROSS_SQUARE_FEET,
    YEAR_BUILT,
    TAX_CLASS_AT_TIME_OF_SALE,
    BUILDING_CLASS_AT_TIME_OF_SALE,  
    SALE_PRICE/1000000 AS SALE_PRICE,
    SALE_DATE,
    EXTRACT(YEAR FROM PARSE_DATETIME("%Y-%m-%d %H:%M:%S", SALE_DATE)) AS SALE_YEAR,
    CASE
      WHEN EXTRACT(MONTH FROM PARSE_DATETIME("%Y-%m-%d %H:%M:%S", SALE_DATE)) = 1 THEN "JAN"
      WHEN EXTRACT(MONTH FROM PARSE_DATETIME("%Y-%m-%d %H:%M:%S", SALE_DATE)) = 2 THEN "FEB"
      WHEN EXTRACT(MONTH FROM PARSE_DATETIME("%Y-%m-%d %H:%M:%S", SALE_DATE)) = 3 THEN "MAR"
      WHEN EXTRACT(MONTH FROM PARSE_DATETIME("%Y-%m-%d %H:%M:%S", SALE_DATE)) = 4 THEN "APR"
      WHEN EXTRACT(MONTH FROM PARSE_DATETIME("%Y-%m-%d %H:%M:%S", SALE_DATE)) = 5 THEN "MAY"
      WHEN EXTRACT(MONTH FROM PARSE_DATETIME("%Y-%m-%d %H:%M:%S", SALE_DATE)) = 6 THEN "JUN"
      WHEN EXTRACT(MONTH FROM PARSE_DATETIME("%Y-%m-%d %H:%M:%S", SALE_DATE)) = 7 THEN "JUL"
      WHEN EXTRACT(MONTH FROM PARSE_DATETIME("%Y-%m-%d %H:%M:%S", SALE_DATE)) = 8 THEN "AUG"
      WHEN EXTRACT(MONTH FROM PARSE_DATETIME("%Y-%m-%d %H:%M:%S", SALE_DATE)) = 9 THEN "SEP"
      WHEN EXTRACT(MONTH FROM PARSE_DATETIME("%Y-%m-%d %H:%M:%S", SALE_DATE)) = 10 THEN "OCT"
      WHEN EXTRACT(MONTH FROM PARSE_DATETIME("%Y-%m-%d %H:%M:%S", SALE_DATE)) = 11 THEN "NOV"
      WHEN EXTRACT(MONTH FROM PARSE_DATETIME("%Y-%m-%d %H:%M:%S", SALE_DATE)) = 12 THEN "DEC"
      END AS SALE_MONTH 
  FROM `test-vertex-ai-386413.HousePricePrediction.NYHousePrices`)
SELECT * FROM subq1
WHERE
  NOT (GROSS_SQUARE_FEET IS NULL AND TOTAL_UNITS = 0) AND
  YEAR_BUILT <> 0 AND
  LAND_SQUARE_FEET IS NOT NULL AND
  GROSS_SQUARE_FEET IS NOT NULL

Query is running:   0%|          |

Downloading:   0%|          |

In [4]:
%%bigquery airbnb
SELECT
 neighbourhood_group,
 CASE
    WHEN UPPER(neighbourhood) = "ARROCHAR" THEN "ARROCHAR-SHORE ACRES"
    WHEN UPPER(neighbourhood) = "BATH BEACH" THEN "BATHGATE"
    WHEN UPPER(neighbourhood) = "BEDFORD-STUYVESANT" THEN "BEDFORD STUYVESANT"
    WHEN UPPER(neighbourhood) = "NORWOOD" THEN "BEDFORD PARK/NORWOOD"
    WHEN UPPER(neighbourhood) = "BRONXDALE" THEN "BRONX PARK"
    WHEN UPPER(neighbourhood) = "BULL'S HEAD" THEN "BULLS HEAD"
    WHEN UPPER(neighbourhood) = "CASTLE HILL" THEN "CASTLE HILL/UNIONPORT"
    WHEN UPPER(neighbourhood) = "UNIONPORT" THEN "CASTLE HILL/UNIONPORT"
    WHEN UPPER(neighbourhood) = "CITY ISLAND" THEN "CITY ISLAND-PELHAM STRIP"
    WHEN UPPER(neighbourhood) = "PELHAM GARDENS" THEN "CITY ISLAND-PELHAM STRIP"
    WHEN UPPER(neighbourhood) = "COBBLE HILL" THEN "COBBLE HILL-WEST"
    WHEN UPPER(neighbourhood) = "CONCORD" THEN "CONCORD-FOX HILLS"
    WHEN UPPER(neighbourhood) = "TREMONT" THEN "EAST TREMONT"
    WHEN UPPER(neighbourhood) = "FINANCIAL DISTRICT" THEN "FINANCIAL"
    WHEN UPPER(neighbourhood) = "FLATIRON DISTRICT" THEN "FLATIRON"
    WHEN UPPER(neighbourhood) = "GREAT KILLS" THEN "GREAT KILLS-BAY TERRACE"
    WHEN UPPER(neighbourhood) = "BAY TERRACE" THEN "GREAT KILLS-BAY TERRACE"
    WHEN UPPER(neighbourhood) = "BAY TERRACE, STATEN ISLAND" THEN "GREAT KILLS-BAY TERRACE"
    WHEN UPPER(neighbourhood) = "EAST HARLEM" THEN "HARLEM"
    WHEN UPPER(neighbourhood) = "MORRIS HEIGHTS" THEN "HIGHBRIDGE/MORRIS HEIGHTS"
    WHEN UPPER(neighbourhood) = "HIGHBRIDGE" THEN "HIGHBRIDGE/MORRIS HEIGHTS"
    WHEN UPPER(neighbourhood) = "RANDALL MANOR" THEN "MANOR HEIGHTS"
    WHEN UPPER(neighbourhood) = "MELROSE" THEN "MELROSE/CONCOURSE"
    WHEN UPPER(neighbourhood) = 'CONCOURSE' THEN "MELROSE/CONCOURSE"
    WHEN UPPER(neighbourhood) = 'CONCOURSE VILLAGE' THEN "MELROSE/CONCOURSE"
    WHEN UPPER(neighbourhood) = 'MORRIS PARK' THEN 'MORRIS PARK/VAN NEST'
    WHEN UPPER(neighbourhood) = 'VAN NEST' THEN 'MORRIS PARK/VAN NEST'
    WHEN UPPER(neighbourhood) = 'MORRISANIA' THEN 'MORRISANIA/LONGWOOD'
    WHEN UPPER(neighbourhood) = 'LONGWOOD' THEN 'MORRISANIA/LONGWOOD'
    WHEN UPPER(neighbourhood) = 'EAST MORRISANIA' THEN 'MORRISANIA/LONGWOOD'
    WHEN UPPER(neighbourhood) = 'PORT MORRIS' THEN 'MOTT HAVEN/PORT MORRIS'
    WHEN UPPER(neighbourhood) = 'MOTT HAVEN' THEN 'MOTT HAVEN/PORT MORRIS'
    WHEN UPPER(neighbourhood) = "MOUNT HOPE" THEN 'MOUNT HOPE/MOUNT EDEN'
    WHEN UPPER(neighbourhood) = "MOUNT EDEN" THEN 'MOUNT HOPE/MOUNT EDEN'
    WHEN UPPER(neighbourhood) = "WEST BRIGHTON" THEN "WEST NEW BRIGHTON"
    WHEN UPPER(neighbourhood) = "NEW DORP BEACH" THEN "NEW DORP"
    WHEN UPPER(neighbourhood) = "OAKWOOD" THEN "OAKWOOD-BEACH"
    WHEN UPPER(neighbourhood) = "PELHAM BAY" THEN "SCHUYLERVILLE/PELHAM BAY"
    WHEN UPPER(neighbourhood) = "SCHUYLERVILLE" THEN "SCHUYLERVILLE/PELHAM BAY"
    WHEN UPPER(neighbourhood) = "WESTCHESTER SQUARE" THEN "WESTCHESTER"
    WHEN UPPER(neighbourhood) = "CLIFTON" THEN "STAPLETON-CLIFTON"    
    ELSE UPPER(neighbourhood)
    END AS neighbourhood,
  latitude,
  longitude,
  room_type,
  price,
  minimum_nights,
  number_of_reviews, 
  CASE
    WHEN reviews_per_month IS NULL THEN 0
    ELSE reviews_per_month
    END AS reviews_per_month,
  calculated_host_listings_count,
  availability_365

FROM `test-vertex-ai-386413.HousePricePrediction.NYAirbnb`

Query is running:   0%|          |

Downloading:   0%|          |

In [5]:
####################################################
###################### AIRBNB ######################
####################################################

for c in airbnb.columns:
    if airbnb[c].dtype == pd.Int64Dtype():
        airbnb[c] = airbnb[c].astype(np.int64)

# Geographical data

boroughs_geographic = airbnb[["neighbourhood_group", "latitude",
                              "longitude"]].copy()

airbnb["neighbourhood_group"] = airbnb["neighbourhood_group"].str.upper()
airbnb["latitude"] = pd.cut(airbnb["latitude"], list(np.arange(403, 412, 1)/10))
airbnb["longitude"] = pd.cut(airbnb["longitude"], list((-np.arange(736, 744, 1)/10)[::-1]))

#### replace zero with mean
#airbnb.loc[airbnb["availability_365"] == 0,
#           "availability_365"] = int(airbnb.loc[airbnb["availability_365"] > 0,
#                                                "availability_365"].mean())
airbnb = airbnb.pivot_table(index = "neighbourhood",
                            values = list(airbnb.columns[3:]),
                            aggfunc = {'room_type': lambda v: stats.mode(v).mode[0],
                                       'price': np.mean,
                                       'minimum_nights': np.mean,
                                       'number_of_reviews': np.mean,
                                       'reviews_per_month': np.mean,
                                       'calculated_host_listings_count': np.mean,
                                       'availability_365': np.mean}).reset_index()

In [7]:
### JOIN FIRST TWO DATASETS
data = prices.merge(airbnb, left_on = "NEIGHBORHOOD",
                    right_on = "neighbourhood", how = "left")
#data.to_parquet("./datapred/data.parquet")
###

In [8]:
%%bigquery collision
WITH subq1 AS
  (SELECT
    ACCIDENT_DATE,
    BOROUGH,
    LATITUDE,
    LONGITUDE,
    CASE
      WHEN NUMBER_OF_PERSONS_INJURED IS NULL THEN 0
      ELSE NUMBER_OF_PERSONS_INJURED
      END AS NUMBER_OF_PERSONS_INJURED,
    CASE
      WHEN NUMBER_OF_PERSONS_KILLED IS NULL THEN 0
      ELSE NUMBER_OF_PERSONS_KILLED
      END AS NUMBER_OF_PERSONS_KILLED,
    NUMBER_OF_PEDESTRIANS_INJURED,
    NUMBER_OF_PEDESTRIANS_KILLED,
    NUMBER_OF_CYCLIST_INJURED,
    NUMBER_OF_CYCLIST_KILLED,
    NUMBER_OF_MOTORIST_INJURED,
    NUMBER_OF_MOTORIST_KILLED,
    CASE
      WHEN VEHICLE_TYPE_CODE_1 IS NULL THEN 0
      ELSE 1
      END AS VEHICLE_TYPE_CODE_1,
    CASE
      WHEN VEHICLE_TYPE_CODE_2 IS NULL THEN 0
      ELSE 1
      END AS VEHICLE_TYPE_CODE_2,
    CASE
      WHEN VEHICLE_TYPE_CODE_3 IS NULL THEN 0
      ELSE 1
      END AS VEHICLE_TYPE_CODE_3,
    CASE
      WHEN VEHICLE_TYPE_CODE_4 IS NULL THEN 0
      ELSE 1
      END AS VEHICLE_TYPE_CODE_4,
    CASE
      WHEN VEHICLE_TYPE_CODE_5 IS NULL THEN 0
      ELSE 1
      END AS VEHICLE_TYPE_CODE_5
  FROM `test-vertex-ai-386413.HousePricePrediction.NYCollisionFULL`)
SELECT ACCIDENT_DATE,
BOROUGH,
LATITUDE,
LONGITUDE,
NUMBER_OF_PERSONS_INJURED,
NUMBER_OF_PERSONS_KILLED,
NUMBER_OF_PEDESTRIANS_INJURED,
NUMBER_OF_PEDESTRIANS_KILLED,
NUMBER_OF_CYCLIST_INJURED,
NUMBER_OF_CYCLIST_KILLED,
NUMBER_OF_MOTORIST_INJURED,
NUMBER_OF_MOTORIST_KILLED,
VEHICLE_TYPE_CODE_1+VEHICLE_TYPE_CODE_2+VEHICLE_TYPE_CODE_3+VEHICLE_TYPE_CODE_4+VEHICLE_TYPE_CODE_5 AS VEHICLES_INVOLVED
FROM subq1

Query is running:   0%|          |

Downloading:   0%|          |

In [9]:
#####################################################
#################### COLLISIONS #####################
#####################################################

for c in collision.columns:
    if collision[c].dtype == pd.Int64Dtype():
        collision[c] = collision[c].astype(np.int64)

collision["ACCIDENT_DATE"] = pd.to_datetime(collision["ACCIDENT_DATE"].apply(lambda v:
                                                                             v.split("T")[0]
                                                                             if isinstance(v, str)
                                                                             else v),
                                            format = "%Y-%m-%d")

# FILL SOME VALUES WITH THE CLOSEST BOROUGH ACCORDING TO AVERAGE COORDINATES FROM AIRBNB
boroughs_geographic_pivot = boroughs_geographic.pivot_table(index = "neighbourhood_group",
                                                            values = ["latitude", "longitude"],
                                                            aggfunc = np.mean).reset_index()

boroughs_geographic_pivot = boroughs_geographic_pivot.values

boroughs_geographic_pivot[:, 1] = boroughs_geographic_pivot[:, 1].astype(np.float64)
boroughs_geographic_pivot[:, 2] = boroughs_geographic_pivot[:, 2].astype(np.float64)

collision.loc[(collision["BOROUGH"].isnull()) &
              (collision["LONGITUDE"].notna()) &
              (collision["LATITUDE"].notna()),
              "BOROUGH"] = collision[(collision["BOROUGH"].isnull()) &
                                     (collision["LONGITUDE"].notna()) &
                                     (collision["LATITUDE"]\
                                      .notna())].apply(lambda row:
                                                       boroughs_geographic_pivot[\
                                                                                 np.sqrt((np.power(boroughs_geographic_pivot[:, 1] -\
                                                                                                   row["LATITUDE"], 2) +\
                                                                                          np.power(boroughs_geographic_pivot[:, 2] -\
                                                                                                   row["LONGITUDE"], 2))\
                                                                                         .astype(np.float64)).argmin(), 0].upper(),
                                                       axis = 1)

# Drop unknown location & some other columns
collision = collision[collision["BOROUGH"].notna()].drop(["LATITUDE", "LONGITUDE"], axis = 1)

In [26]:
collision["DAY_STAMP"] = (collision["ACCIDENT_DATE"].dt.year.astype(str) +\
                          collision["ACCIDENT_DATE"].dt.month.apply(lambda v:
                                                                    str(v) if v > 9
                                                                    else "0"+str(v)) +\
                          collision["ACCIDENT_DATE"].dt.day.apply(lambda v:
                                                                  str(v) if v > 9
                                                                  else "0"+str(v))).astype(int)

In [27]:
collision_np = collision.drop("ACCIDENT_DATE", axis = 1).values

In [28]:
def custom_pivot(idx):
    
    dt, brg = tuple(prices.loc[idx, ["SALE_DATE", "BOROUGH"]])
    
    get_date = datetime.datetime.strptime(dt, "%Y-%m-%d %H:%M:%S")
    
    get_date = int((str(get_date.year)) +\
                   (str(get_date.month) if get_date.month > 9 else "0"+str(get_date.month)) +\
                   (str(get_date.day) if get_date.day > 9 else "0"+str(get_date.day)))
    # -1: DAY_STAMP
    # 0: BOROUGH
    data_in = collision_np[(collision_np[:, -1] < get_date) &
                           (collision_np[:, 0] == brg)]
    #print("OK")
    # drop BOROUGH and DAY_STAMP
    data_in = data_in[:, 1:-1].astype(np.float32)
    
    # NUMBER_OF_PERSONS_INJURED
    # NUMBER_OF_PERSONS_KILLED
    # NUMBER_OF_PEDESTRIANS_INJURED
    # NUMBER_OF_PEDESTRIANS_KILLED
    # NUMBER_OF_CYCLIST_INJURED
    # NUMBER_OF_CYCLIST_KILLED
    # NUMBER_OF_MOTORIST_INJURED
    # NUMBER_OF_MOTORIST_KILLED
    # VEHICLES_INVOLVED
    return tuple(np.nanmean(data_in, axis = 0))

custom_pivot = np.vectorize(custom_pivot)

In [29]:
pivoted_data1 = custom_pivot(prices.index[:10000])
print("Done")
pivoted_data2 = custom_pivot(prices.index[10000:20000])
print("Done")
pivoted_data3 = custom_pivot(prices.index[20000:30000])
print("Done")
pivoted_data4 = custom_pivot(prices.index[30000:40000])
print("Done")
pivoted_data5 = custom_pivot(prices.index[40000:])
print("Done")

Done
Done
Done
Done
Done

In [45]:
pivoted_data_all = np.vstack((np.array(pivoted_data1).T, np.array(pivoted_data2).T,
                              np.array(pivoted_data3).T, np.array(pivoted_data4).T,
                              np.array(pivoted_data5).T))

In [51]:
data_final = pd.concat([data,
                        pd.DataFrame(pivoted_data_all,
                                     columns = ["NUMBER_OF_PERSONS_INJURED",
                                                "NUMBER_OF_PERSONS_KILLED",
                                                "NUMBER_OF_PEDESTRIANS_INJURED",
                                                "NUMBER_OF_PEDESTRIANS_KILLED",
                                                "NUMBER_OF_CYCLIST_INJURED",
                                                "NUMBER_OF_CYCLIST_KILLED",
                                                "NUMBER_OF_MOTORIST_INJURED",
                                                "NUMBER_OF_MOTORIST_KILLED",
                                                "VEHICLES_INVOLVED"])], axis = 1)

In [52]:
###
data_final.to_parquet("./datapred/data.parquet")
###